.App {
  text-align: center;
  width     : 400px;
  margin    : auto;
}

input {
  width       : 100%;
  margin-right: 16px;
}

.FiltersBtns {
  display        : flex;
  justify-content: space-between;
  margin-bottom  : 20px;
  gap            : 20px;
}

.FiltersBtns button {
  cursor          : pointer;
  font-size       : 16px;
  padding         : 4px 12px;
  border          : none;
  background-color: transparent;
}

.FiltersBtns button.active {
  border-bottom: 2px solid rgb(0, 51, 217);
  color        : #0400ff;
  font-weight  : bold;
}

.AddTask {
  display        : flex;
  justify-content: space-between;
}

.addBtn,
.delBtn {
  cursor       : pointer;
  border-radius: 8px;
  border       : none;
}

.delBtn {
  padding: 12px;
}

.addBtn {
  padding: 8px 12px;
}

.Tasks {
  display        : flex;
  align-items    : center;
  text-align     : center;
  justify-content: space-between;
}

.delBtn:hover {
  background-color: rgb(255, 64, 0);
  color           : #fff;
  border-color    : rgb(255, 64, 0);
}

.addBtn:hover {
  background-color: rgb(54, 35, 199);
  border-color    : rgb(54, 35, 199);
  color           : #fff;
}